<p id="notice"><%= notice %></p>
<h1>here you can have a look to our gyms around the world</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @gyms.each do |gym| %>
    <ul>
   <%= link_to gym.name, gym_path(gym) %>


  <li><%= gym.description %> </li>
  <li> <%= gym.pricing %></li>
  </ul>

  <% if policy(gym).create? %>
  <%= link_to "New restaurant WITH Pundiit OKEY", new_gym_path %>
  <% end %>

    <% if policy(gym).edit? %>
   <%= link_to "Update", edit_gym_path(gym) %>
   <% end %>
    <td>
    <% if policy(gym).destroy? %>
    <%= link_to 'Destroy', gym, method: :delete, data: { confirm: 'Are you sure ?'} %>

     <% end %>
    </td>
   <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="card"
        <% @gyms.each do |gym| %>
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path gym.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="card-category">Popular</div>
      <div class="card-description">
      <h2>Some stuff</h2>
      <p>Very cool stuff, useful and smart</p>
    </div>
     <a class="card-link" href="#" ></a>
     </div>

       <% end %>
    </div>
  </div>
</div>




<!-- no tiene sentido desplegar la imagen aqui, es solo para saber que funciona bine -->

<%= cl_image_tag("qd2lujxd5fmwdzhd4eyc.jpg",
      width: 400, height: 300, crop: :fill) %>


<!-- for face detection -->
<%= cl_image_tag("qd2lujxd5fmwdzhd4eyc.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>


