</p><p id="notice"><%= notice %></p>
<p>

  <%= cl_image_tag @gym.photo, height: 300, width: 400, crop: :fill %> <br>

  <strong>Name:</strong>
  <%= @gym.name %>
</p>
<p>
  <strong>Description:  </strong>
  <%= @gym.description %>
</p>
<p>
  <strong> Price:</strong>
  <%= @gym.pricing %>
</p>
